{% extends "admin/change_list.html" %}
{% load i18n report_list %}

{% block title %}{% trans "Reports" %}{% endblock %}
{% block content_title %}<h1>{% trans "Reports" %}</h1>{% endblock %}

<!-- BREADCRUMBS -->
{% block breadcrumbs %}
    {% if not is_popup %}
        <div id="breadcrumbs">
            <a href="../../">{% trans "Home" %}</a> &rsaquo;
            {% trans "Reports" %}
        </div>
    {% endif %}
{% endblock %}

<!-- OBJECT-TOOLS -->
{% block object-tools %}{% endblock %}

{% block content %}
    <div id="changelist">
        {% get_report_groups as groups %}
        {% for group, reports in groups %}
            {% trans group|title %}<br />
            <ul>
            {% for slug, report in reports.items %}
                <li><a href="{% url reporting-view slug %}{{ report.get_default_query_string }}">{{ report.verbose_name }}</a></li>
            {% endfor %}
            </ul>
        {% empty %}
            {% trans "No reports available." %}
        {% endfor %}
	</div>
{% endblock %}
